Ai Detector.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-file",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "370715ad-5c91-493d-9bb6-755be4d20c11",
      "name": "Webhook",
      "webhookId": "80b13c47-c726-4887-8ffa-90b1374dd579"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6396d690-0aba-4072-985c-8841e8c5fc4d",
              "leftValue": "={{ $binary.file.mimeType}}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ],
      "id": "95bcc1f2-529c-46c0-a924-70c61387e517",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        432,
        -96
      ],
      "id": "679263cb-8a62-4862-9ffb-80c30fbfd558",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a document classifier.\n\nRead the text below and determine if this PDF is AI-generated or human-written.\n\nRules:\n- Look for overly structured, generic, repetitive, or unnatural language → AI-generated\n- Look for human variation, imperfections, real-world tone → human-written\n\nReturn ONLY JSON:\n{\n  \"ai_generated\": \"Yes\" or \"No\"\n}\n\nPDF TEXT:\n{{$json.text}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        -96
      ],
      "id": "4b31f579-4cf7-4e69-b716-4f8be112c5f2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        640,
        224
      ],
      "id": "966bf9e9-9651-45c4-8955-22fb4b1ea8b7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "7SK1o6Ivphiswk1W",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16nqwUUHkHbeAgNeptQROgkGztsGExz0TyhTasAIfqQo",
          "mode": "list",
          "cachedResultName": "Testing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16nqwUUHkHbeAgNeptQROgkGztsGExz0TyhTasAIfqQo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16nqwUUHkHbeAgNeptQROgkGztsGExz0TyhTasAIfqQo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -96
      ],
      "id": "d907f805-5dc1-4c25-b0a8-f633e732511c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iYYmd6hPRi4pU4Kj",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba8ea241-e11e-4954-a53e-4bf1a53faed5",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -96
      ],
      "id": "614ef293-e18f-4fa8-afe2-bbea20938855",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7bb96516-33a7-4077-8fd7-8dc6f0797c2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "18d191c839eced842f79fec87da2362894191fcd9c2553eb2065e1ad5ba1bfd4"
  },
  "id": "3nAgKAoXtEB1y4eq",
  "tags": []
}